@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .accordian-image {
        transform: translateY(100%);
    }

    .accordian-image.active {
        transform: translateY(0); 
        @apply opacity-100;
    }

    .accordian-image.previous {
        transform: translateY(-100%);
        @apply opacity-0;

    }
    .slick-next::before ,
    .slick-prev::before{
        @apply !hidden
    }
    .slick-next:focus, .slick-next:hover ,.slick-prev:focus, .slick-prev:hover{
        color: inherit !important; 
        outline: none !important;
        background-image: url('../images/next-arrow-icon-black.svg');

    }
    .slick-prev:focus, .slick-prev:hover {
        background-image: url('../images/prev-arrow-icon-black.svg');
    }
    .slick-prev, .slick-next {
        @apply !bg-cover !bg-no-repeat !bg-center cursor-pointer bottom-[-80px] absolute left-1/2 w-14 h-14 rounded-[12px] bg-[#FFFFFF] !top-auto lg:bottom-1/2;
    }
    .slick-prev {
        @apply translate-x-[-62px] lg:translate-x-[-50%] lg:translate-y-[40%] lg:left-[-60px];
        background-image: url('../images/prev-arrow-icon-black.svg') !important;
        background-size: 9px !important; 
    }
    .slick-next {
        @apply translate-x-[8px] lg:translate-x-[50%] lg:translate-y-[40%] lg:left-[unset] lg:right-[-60px];
        background-image: url('../images/next-arrow-icon-black.svg');
        background-size: 9px !important; 
    }
    .tab-btn button:focus-visible{
        outline: 0 !important;
        outline-offset: 0 !important;
    }
    .scrollbar-hidden {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    .scrollbar-hidden::-webkit-scrollbar {
        @apply !hidden;
    }
    .accord-sm-btn.active svg path {
        @apply fill-white
    }
    .rotate-active {
        @apply transform rotate-0 transition-all duration-300 ease-in-out
    }
    header.scrolled {
        @apply bg-white transition duration-300 shadow-md;    
    }
    header .hexanode-logo svg.scrolled{
        @apply fill-black;
    }
    header .navbar-toggler span.scrolled{
        @apply bg-black;
    }
    .navbar-toggler #topBar.active{
        @apply rotate-45 mb-2.5;
    }
    .navbar-toggler #middleBar.active{
        @apply opacity-0;
    }
    .navbar-toggler #bottomBar.active{
        @apply -rotate-45 -mt-6;
    }




}